@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@500&display=swap');

* {
    margin: 0px;
    font-family: 'Rokkitt', serif;
}

body {
    background-color: #f2f4f7;
    height: 100%;
}

div#keterangan {
    display: inline-block;
    float: left;
}

nav {
    display: inline-block;
    float: right;
    margin-right: 50px;
}

div#keterangan a {
    margin-left: 50px;
    text-decoration: none;
    color: #FFF;
}

header {
    padding: 15px;
    overflow: auto;
    background-color: #000;
    color:  white;
}

nav a {
    text-decoration: none;
    color: #FFF;
    padding: 10px;
}

nav a:hover {
    text-decoration: underline;
    color: #f7f7f7;
}

footer {
    bottom: 0px;
    position: absolute;
    width: 100%;
}

footer p {
    padding: 13px 20px;
    color: #8a93a1;
    font-size: 12px;
}

footer hr {
    background-color: #e2e2e2;
    margin: 0px 20px;
}

div#content {
    margin: 8% auto;
    width: 50%;
    height: 50%;
    background-color: #FFF;
    padding: 15px;
    border-radius: 9px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.content-header p {
    color: #000;
    font-size: 53px;
    text-align: center;
    padding: 80px 50px;
    font-family: algerian;
}

div.content-button {
    padding: 20px;
    text-align: center;
}

div.content-button a{
    text-decoration: none;
    color: #000;
    padding: 15px;
    background-color: #1dd3bd;
    border-radius: 10px;
    margin-right: 15px;
}

div.content-button a:hover{
    background-color: #1dd388;
}

div#content-form {
    margin: 8% auto;
    width: 50%;
    height: 50%;
    background-color: #FFF;
    border-radius: 9px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div#content-list, div#content-show {
    background-color: #FFF;
    border-radius: 9px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.content-form-header, div.content-list-header, div.content-show-header {
    background-color: #000;
    padding: 12px;
    border-radius: 9px 9px 0px 0px;
}

div.content-form-header p, div.content-list-header p, div.content-show-header p {
    color: #FFF;
    font-size: 25px;
}

.form-input {
    padding: 0px 15px;
}

.form-input label {
    display: block;
    text-align: left;
}

.form-input input[type="email"] {
    width: 97%;
    padding: 7px;
    margin: 6px 0px 13px;

}

.form-input input[type="password"] {
    width: 97%;
    padding: 7px;
    margin: 6px 0px 20px;
}

form button {
    padding: 10px 20px;
}

form button:hover {
    cursor: pointer;
}

.form-input input[type="text"] {
    width: 97%;
    padding: 7px;
    margin: 6px 0px 13px;
}

.form-input textarea {
    width: 97%;
    padding: 7px;
    margin: 6px 0px 13px;
}

.content-list-table, .content-show-data {
    padding: 10px;
}

.content-list-table table, .info-table table {
    margin-top: 10px;
    width: 100%;
    text-align: left;
    /*     border-collapse: collapse; */
}

.content-list-table th, .info-table th {
    background-color: #000;
    color: white;
    padding: 5px;
    padding: 4px 7px 4px;

}

.content-list-table td, .info-table td {
    border-left: 1.5px solid black;
    padding-left: 7px;
}

.content-list-table tr:nth-child(odd), .info-table tr:nth-child(odd) {
  background-color: #dddddd;
}

.content-list-table td.last-cell, .info-table td.last-cell {
    border-right: 1.5px solid black;
    width: 18%;
    text-align: center;
}

.notif{
    margin-top: 20px;
    text-align: center;
    color: red;
    font-size: 18px;
    font-family: sans-serif;
}

a.btn-add {
    float: right;
    display: inline;
    padding: 10px;
    background-color: #000;
    text-decoration: none;
    color: #FFF;
    border-radius: 10px;
    font-family: tahoma;
}

a.btn-add:hover {
    color: #f4f4f4;
}

.content-list-table p {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    font-family: tahoma;
}

.content-list-table select {
    font-size: 17px;
}

.content-list-table td.last-cell a, .info-table a {
    margin-right: 8px;
}

.content-show-data .group-info {
    margin-bottom: 8px;
}

.content-show-data .group-info p:nth-child(1) {
    display: inline-block;
    width: 200px;
    margin-right: 12px;
}

.content-show-data .group-info p:nth-child(2) {
    display: inline;
}

.info-header h3 {
    padding: 5px 0px;
}

.info-header {
    margin: 15px 0px;
}

.info-table table {
    width: 99%;
    margin: 0 auto;
}

.tampil-jumlah-data {
    display:inline-block;
    float:left;
    padding: 9px;
}

a.btn-add2 {
    background-color: #000;
    border-radius: 10px;
    padding: 7px;
    text-decoration: none;
    color: #fff;
    margin: 5px 8px;
    display: inline-block;
    float: right;
    font-size: 14px;
}

.group-info input[type=text] {
    margin-left: -5px;
    width: 220px;
}

.group-info .label-alamat {
    float: left;
}

.content-show-data button {
    margin-left: 212px;
    padding: 5px 20px
}

.content-show-data button:hover {
    cursor: pointer;
}

.group-info textarea {
    width: 220px;
}

.group-info select {
    width: 350px;
    margin-left: -5px;
}

p#p-sks {
    margin-left: -5px;
}

div.pagination-bottom {
    width: 97.8%;
    padding: 0 7px;
    margin: 0px auto;
    background-color: #000;
    text-align: center;
    height: 45px;
}

div.pagination-bottom a {
    text-decoration: none;
    font-size: 20px;
    color: #000;
    display: inline-block;
    margin: 8.5px;
    padding: 0px 8px;
    background-color: #f2f4f7;
    border-radius: 3px;
}

div.pagination-bottom a:hover {
    text-decoration: underline;
}

div.pagination-bottom p {
    float: left;
    color: #fefefe;
    padding: 3px;
}

div.pagination-bottom-list {
    width: 98.7%;
    padding: 0 7px;
    margin: 0px auto;
    background-color: #000;
    text-align: center;
    height: 45px;
}

div.pagination-bottom-list a {
    text-decoration: none;
    font-size: 20px;
    color: #000;
    display: inline-block;
    margin: 8.5px;
    padding: 0px 8px;
    background-color: #f2f4f7;
    border-radius: 3px;
}

div.pagination-bottom-list a:hover {
    text-decoration: underline;
}

div.pagination-bottom-list p {
    float: left;
    color: #fefefe;
    padding: 3px;
}